@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  background: #1E293B;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(243 244 246 / 0.5);
}

.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(15 23 42 / 0.5);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(209 213 219);
  border-radius: 10px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(51 65 85);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(156 163 175);
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(71 85 105);
}
